*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  color:black;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}
.shift{
  width:max-content;
  float:left;
}
.bars{
  float:right;
  margin-top: -50px;
}
.pri{
  margin:10px auto 10px;
  border: solid 1px black;
  background-color: yellow;
}
.tit{
  margin: 0px;
  padding: 0px;
  float:right;
  border-bottom:solid 1px black ;
  border-left:solid 1px black ;
  color:blue;
  font-weight: bold;
  background-color: gray;
  height: max-content;
}
.cont{
  clear: both;
  color:black;
  margin: 5px auto 5px;
  font-size: 20px;
}